/* pages/sportControl/index.wxss */
// .box {
//   padding: 50rpx;
// }
.btn_box{
  padding: 20px;
}
.opCodeText{
  display: flex;
  flex-direction: column;
}
.box-mode-state {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30rpx;
  gap: 10px;
  
}
.mode-state-item {
    width: 45%;
    height: 70rpx;
    background-color: #494949;
    color: white;
    line-height: 70rpx;
    text-align: center;
  }
.box-input{
  padding: 20rpx 50rpx;
}
.input{
  display: flex;
  height: 40px;
  line-height: 40px;
  align-items: center;
}
input{
  background-color: #e7e7e7;

}