.box {
  padding: 50rpx;
  .auto-test-box{
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .box-mode-state {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30rpx;
    gap: 10px;
    .mode-state-item {
      width: 45%;
      height: 70rpx;
      background-color: #494949;
      color: white;
      line-height: 70rpx;
      text-align: center;
    }
  }
}
.auto-test-box{
  margin-top: 20px;
}
.btn {
  margin-top: 30rpx;
}