.box{
  padding: 50rpx;
}
.tip{
  text-align: center;
  font-size: 24rpx;
  color: #999;
  padding-bottom: 20rpx;
}
.box-item{
  display: flex;
  justify-content: space-between;
  line-height: 100rpx;
  border-bottom: 1px solid #d3d3d3;
}